/*                                  INIT                                   */
/*                                 Variables                               */
/*                                                                         */
* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
}

.container_recompenses div h3, h2 {
  font-family: "Merienda", cursive;
  font-weight: lighter;
}

/*            PROFIL            */
h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}

#MaCarte {
  margin: 60px 10vw 0 10vw;
}

.container_carte {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  background-color: #E4D1B5;
  padding: 50px;
  border: solid #BC383D 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
}

.img_profil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}
.img_profil img {
  border-radius: 50%;
  width: 15vw;
  cursor: pointer;
}

.pseudo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 0 20px 0;
}

.pseudo img{
  width: 50px;
  margin-right: 5px;
}
.pseudo h3 {
  font-size: 3em;
  margin: 0;
}
.pseudo p {
  font-size: 0.8em;
  color: #BC383D;
}

.informations_about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#valider{
  display: block;
  padding: 10px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: black 2px solid;
}

.informations {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 1.6em;
}
.informations img {
  height: 30px;
  margin-left: 10px;
}

#MesRecompenses {
  margin: 60px 10vw;
}

.informations p{
  margin-bottom: 0;
}

.container_recompenses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container_recompenses div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container_recompenses div h3 {
  font-size: 3em;
  margin: 10px 0;
}
.container_recompenses div p {
  margin: 0;
  font-size: 1.2em;
}
.container_recompenses div img {
  width: 10vw;
}

#Historique{
  margin: 60px 10vw;
}

.content-games{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.content-games >div{
  background-color: #E4D1B5;
  width: 40%;
  margin-bottom: 60px;
  text-align: center;
  border: 4px #BC383D solid;
  font-size: 18px;
}

.content-games h3{
  font-size: 22px;
  font-family: "Merienda", cursive;
  margin-bottom: 8px;
}

.content-games a {
  color:  #BC383D;
  text-decoration: none;
}

.overlay{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.content-pop-avatar{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  font-family: "Merienda", cursive;
  font-size: 18px;
}

.flex-align-avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-avatar{
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.img-avatar img{
  width: 100px;
}

.input-avatar{
  display: flex;
  width: 500px;
  justify-content: space-around;
  margin-top: 10px;
}

.input-avatar input{
  transform: scale(1.8);
}

#validavatar{
  cursor: pointer;
  border: black 1px solid;
  color:black;
  background-color: white;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

