/*                                  INIT                                   */
/*                                 Variables                               */
/*                                                                         */
* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #1A1F2C;
  font-family: "Nunito", sans-serif;
}

#affrontez h2, #hagakure div h2, #container_game h1 {
  font-family: "Merienda", cursive;
  font-weight: lighter;
}


/*          JOUER             */
/*                  JEU                     */
#container_game {
  position: relative;
  margin-top: 50px;
  width: 100vw;
  height: fit-content;
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#container_game .sakura {
  position: absolute;
  bottom: 0px;
  transform: rotateZ(-140deg) translateX(-50%);
  width: 1000px;
  z-index: 0;
}
#container_game .flower {
  position: absolute;
  width: 75px;
}
#container_game .f1 {
  left: 1%;
  bottom: 0;
}
#container_game .f2 {
  right: 10%;
  top: 5%;
}
#container_game .f3 {
  left: 5%;
  top: 10%;
}
#container_game .f4 {
  left: 15%;
  top: 50%;
}
#container_game h1 {
  color: white;
  margin-top: 0;
  z-index: 1;
}

#b_game {
  position: relative;
  width: 1080px;
  height: 610px;
  max-height: 100vh;
  border: solid white 1px;
}
#b_game .bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 610px;
  max-height: 100vh;
  background: black;
  right: -0.5vw;
  top: -0.5vw;
  position: absolute;
  overflow: hidden;
}
#b_game .bg .button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
}
#b_game .bg .button button {
  position: relative;
  cursor: pointer;
  bottom: 0%;
  outline: none;
  border: none;
  height: 75px;
  width: 200px;
  color: white;
  font-size: 1.2em;
  white-space: nowrap;
  transition: 0.3s;
  background-color: #BC383D;
  z-index: 1;
}
#b_game .bg .button .button_border {
  border: 1px solid white;
  position: absolute;
  top: 5%;
  left: 5%;
  height: 75px;
  width: 200px;
  z-index: 0;
  transition: 0.3s;
}
#b_game .bg .button:hover button {
  background: white;
  color: black;
}
#b_game .bg .button:hover .button_border {
  left: -5%;
  border: 1px solid white;
}

/*            HAGAKURE            */
#hagakure {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  background: white;
}
#hagakure div {
  margin: 50px 0px 50px 175px;
}
#hagakure div h2 {
  font-size: 2em;
}
#hagakure div p {
  font-size: 1.25em;
}
#hagakure img {
  width: 300px;
  margin: 50px 175px 50px 0;
}

#affrontez {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: white;
  width: 100vw;
}
#affrontez h2 {
  font-size: 2.5em;
  margin: 30px 0 80px 0px;
}
#affrontez article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  column-gap: 100px;
  margin-bottom: 50px;
}
#affrontez article div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#affrontez article div img {
  width: 225px;
  transition: 0.3s;
}
#affrontez article div img:hover {
  transform: scale(1.1) rotateZ(2deg);
}

/*# sourceMappingURL=index.css.map */
