*{
    margin: 0;
    padding: 0;
}

.fullscreenmode{
    background: radial-gradient(#353535, #1a1a1a);
    width: 100vw ;
    max-width: 100%;
    height: 100vh;
}

#message{
    position: absolute;
    bottom: 50%;
    right: 10px;
    color: white;
    font-family: "Nunito", sans-serif;
}

.btn-retour{
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    background: white;
    padding: 8px;
}

.mainadversaire{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.mainadversaire img{
    width: 90px;
    margin-left: -25px;
    transform: rotate(180deg);
}

.actionadversaire{
    position: absolute;
    top: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: 70px 70px;
    column-gap: 10px;
    row-gap: 10px;
}

.cartecentrale{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 5px;
}

.plateaucentral{
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.cartecentrale img{
    width: 80px;
}

.actionadversaire img{
    width: 70px;
}

.actionj2nondisponible{
    filter: invert(1);
}

.cartesvalides{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.rangecarte img{
    width: 80px;
}

.rangecarte {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    min-height: 220px;
}

.rangecarte img:not(:first-child) {
    margin-top: -90px;
}

.cartesadversaire{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.cartesadversaire img:not(:first-child) {
    margin-top: -90px;
}

.cartesadversaire img{
    transform: rotate(180deg);
}

.moimain{
    display: flex;
    position: absolute;
    gap: 20px;
    width: 100%;
    bottom: 10px;
    align-items: center;
    justify-content: center;
}

.moimain img{
    width: 100px;
}

.actionperso{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: 70px 70px;
    column-gap: 10px;
    row-gap: 10px;
}

.actionperso img{
    width: 70px;
    cursor: pointer;
}

.actionj1nondisponible{
    filter: invert(1);
    cursor: default !important;
}

#valider{
    padding: 20px;
    position: absolute;
    bottom: 170px;
    right: 10px;
    width: 150px;
    font-family: "Nunito", sans-serif;
    font-size: 16px ;
    cursor : pointer;
}

.popup-offre{

}

.overlay{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1200;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.popup-offre .contenu-pop-interne{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    font-family: "Merienda", cursive;
    font-size: 18px;
}

.flexcarteselect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.flexcarteselect img{
    cursor: pointer;
    width: 100px;
}

.grp-1{
    display: flex;
    margin-right: 30px;
}

.grp-2{
    display: flex;
}

.flex-echange-prop{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#validoffre{
    cursor: pointer;
    border: black 1px solid;
    color:black;
    background-color: white;
    font-family: "Nunito", sans-serif;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 16px;
}


.popup-echange{

}

.echangePop{
    background: white;
    width: 600px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: "Merienda", cursive;
    font-size: 18px;
}

#selectpremierdouble{
    cursor: pointer;
    border: black 1px solid;
    color:black;
    background-color: white;
    font-family: "Nunito", sans-serif;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 18px;
}

#validerdouble{
    cursor: pointer;
    border: black 1px solid;
    color:black;
    background-color: white;
    font-family: "Nunito", sans-serif;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 18px;
}

.cartechoisiesechange{
    height: 140px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
}

.cartevalidesechange{
    height: 140px;
    width: 100px;
    background-color: green;
    border: 1px solid black;
}

.echangePop h4{
    margin-bottom: 20px;
}

.validerenvoiechange p{
    text-align: center;
    font-family: "Nunito", sans-serif;
    margin-top: 10px;
    color: red;
}

.deuxiemegroupe{
    height: 140px;
    width: 100px;
    border: 1px solid black;
}

.carteselectoffre input{
    display: none;
}

.invisibleinput{
    display: none;
}

.flex-echange-doubles{
    display: flex;
}

.popup-echange .contenu-pop-interne{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 40px 20px 40px;
    font-family: "Merienda", cursive;
    font-size: 18px;
}
.popup-echange .carte img{
    width: 100px;
}

.popup-echange h4{
    margin-bottom: 20px;
}

.groupe1{
    margin-right: 40px;
}

.groups{
    display: flex;
    gap: 10px;
}

#validechange{
    cursor: pointer;
    border: black 1px solid;
    color:black;
    background-color: white;
    font-family: "Nunito", sans-serif;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

.jeuinterne{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 40px 20px 40px;
    font-family: "Merienda", cursive;
    font-size: 18px;
}
.jeuinterne a{
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: black 2px solid;
    margin-top: 20px;
    display: block;
    width: 50%;
    text-align: center;
    color: black;
    font-size: 18px;
}

.jeuinterne h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.flex-fin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
}

.flex-fin .colomn-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.flex-fin .colomn-flex-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}