{% extends 'base.html.twig' %}

{% block body %}
    <section id="container_game">

        <img src="{{ asset('images/elements/tree.svg') }}" alt="sakura" class="sakura">

        <h1><span style="color: #BC383D; font-size: 1.5em;">Hagakure</span> , le jeu de cartes des samouraïs</h1>
        <div id="b_game">
            <div class="bg"></div>
        </div>

    </section>

    <section id="hagakure">
        <h2>Hagakure ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta beatae nam quasi, porro libero rerum sit, vitae expedita maxime voluptatem accusamus sequi, amet ex. Distinctio molestiae aliquid voluptas nihil numquam.</p>
    </section>

    <script src="{{ asset('js/index.js') }}"></script>

    </body>
    </html>
{% endblock %}
